openapi: 3.0.0
info:
  title: Bonjoro API V2
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
paths:
  /api/v2/oauth/2/token:
    post:
      tags:
      - Authentications
      summary: Authenticate
      operationId: authenticate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationPayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessToken'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
  /api/v2/attributes:
    get:
      tags:
      - Profile Attributes
      summary: Get the profile information related to the specified greet_id and profile_id
      operationId: getAttributes
      parameters:
      - name: profile_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: greet_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileAttributes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/attribute-types:
    get:
      tags:
      - Profile Attributes
      summary: Get all profile attribute types
      operationId: getAttributeTypes
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - $ref: '#/components/schemas/profileAttributeType1'
                  - $ref: '#/components/schemas/profileAttributeType2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automations:
    get:
      tags:
      - Automations
      summary: Get paginated automations
      operationId: getAutomations
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automations'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automations/{automation_id}:
    get:
      tags:
      - Automations
      summary: Update an automation
      operationId: getAutomation
      parameters:
      - name: automation_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Automations
      summary: Update the name or enabled status of an automation
      operationId: putAutomation
      parameters:
      - name: automation_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: New name
                enabled:
                  type: boolean
                  example: true
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    delete:
      tags:
      - Automations
      summary: Delete an automation
      operationId: deleteAutomation
      parameters:
      - name: automation_id
        in: path
        required: true
      responses:
        '203':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    message:
                      type: string
                      example: Deleted
                  type: object
                - properties:
                    data:
                      $ref: '#/components/schemas/automationNoAction'
                  type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/campaigns:
    get:
      tags:
      - Campaigns
      summary: Get paginated campaigns
      operationId: getCampaigns
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaigns'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/campaigns/segmented:
    get:
      tags:
      - Campaigns
      summary: Get segmented campaigns
      operationId: getSegmentedCampaigns
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaignsSegmented'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/campaigns/{campaign_id}:
    get:
      tags:
      - Campaigns
      summary: Get a campaign
      operationId: getCampaign
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/campaign'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Campaigns
      summary: Update a campaign
      operationId: putCampaign
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignUpdatePayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/campaignWithUsers'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    delete:
      tags:
      - Campaigns
      summary: Delete a campaign
      operationId: deleteCampaign
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/campaignWithUsers'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/checklist:
    get:
      tags:
      - Checklist
      summary: Get paginated checklists
      operationId: getChecklist
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checklists'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/users/me/devices:
    post:
      tags:
      - Devices
      summary: Add user devices
      operationId: postUserDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devices'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/devices'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/domain-availabilities/{domain_name}:
    get:
      tags:
      - Domains
      summary: Returns the availability of the specified domain
      operationId: getDomain
      parameters:
      - name: domain_name
        in: path
        required: true
        example: bonjoro.com
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                    - domain_available
                    - domain_not_available
                    example: domain_available
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/domains:
    get:
      tags:
      - Domains
      summary: Returns paginated domains
      operationId: getDomains
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domains'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Domains
      summary: Add a domain
      operationId: postDomain
      requestBody:
        content:
          application/json:
            schema:
              properties:
                domain:
                  type: string
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/domain'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/domains/{domain_id}:
    delete:
      tags:
      - Domains
      summary: Delete a domain
      operationId: deleteDomain
      parameters:
      - name: domain_id
        in: path
        required: true
        example: '10'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain deleted
                  data:
                    $ref: '#/components/schemas/domain'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/domains/{domain_id}/verify:
    put:
      tags:
      - Domains
      summary: Verify a domain
      operationId: putVerifyDomain
      parameters:
      - name: domain_id
        in: path
        required: true
        example: '10'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Congrats, your domain is now verified
                  data:
                    properties:
                      is_verified:
                        type: boolean
                        example: true
                    type: object
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/events:
    get:
      tags:
      - Events
      summary: Get paginated events
      operationId: getEvents
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/feedback:
    post:
      tags:
      - Feedback
      summary: Add a feedback
      operationId: postFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/feedbackPayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/greets:
    get:
      tags:
      - Greets
      summary: Get paginated greets
      operationId: getGreets
      parameters:
      - name: profile_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: assignee_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - closed
          - sent
        example: open
      - name: simple
        in: query
        schema:
          type: boolean
        example: true
      - name: search
        in: query
        description: Search for profiles where email, firstname and lastname matches the search term
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          - uploaded_at
          - awaiting_reply
          - last_modified
          - last_replied_at
        example: created_at
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greets'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    post:
      tags:
      - Greets
      summary: Add a greet
      operationId: postGreet
      requestBody:
        content:
          application/json:
            schema:
              properties:
                profiles:
                  description: An array of profiles
                  type: array
                  items:
                    type: string
                    format: email | uuid
                  maxItems: 200
                assignee_id:
                  description: The assignee of the created task
                  type: string
                  format: uuid
                  example: 7b9d182a-a687-472b-8212-2c817a7ae088
                  nullable: true
                note:
                  description: A note to add to the task
                  type: string
                  example: New signup
                  nullable: true
                campaign_id:
                  description: The workspace in which to create the task
                  type: string
                  format: uuid
                  example: 7b9d182a-a687-472b-8212-2c817a7ae088
                  nullable: true
                template_id:
                  description: A message template to set for the task
                  type: string
                  format: uuid
                  example: 7b9d182a-a687-472b-8212-2c817a7ae088
                  nullable: true
                custom_attributes:
                  description: Key/value pairs describing custom attributes for the task
                  type: object
                  nullable: true
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    delete:
      tags:
      - Greets
      summary: Delete multiple greets
      operationId: delete multipleGreets
      parameters:
      - name: greets[]
        in: query
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    patch:
      tags:
      - Greets
      summary: Updates assignee_id and/or campaign_id of the specified greets
      operationId: updateManyGreets
      requestBody:
        content:
          application/json:
            schema:
              properties:
                assignee_id:
                  type: string
                  format: uuid
                  example: 7b9d182a-a687-472b-8212-2c817a7ae088
                campaign_id:
                  type: integer
                  example: 5
                greets:
                  description: An array of greet uuids
                  type: array
                  items:
                    type: string
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greets'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}:
    put:
      tags:
      - Greets
      summary: Update the assignee for a greet
      operationId: putGreet
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      requestBody:
        content:
          application/json:
            schema:
              properties:
                assignee_id:
                  type: string
                  format: uuid
                  example: 7b9d182a-a687-472b-8212-2c817a7ae088
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    delete:
      tags:
      - Greets
      summary: Delete a greet
      operationId: deleteGreet
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/create:
    post:
      tags:
      - Greets
      summary: Create greets in bulk
      operationId: bulkCreateGreets
      requestBody:
        content:
          application/json:
            schema:
              properties:
                assignee_id:
                  type: string
                  format: uuid
                  example: a9c34499-8573-4ae5-b596-56aaf4d83b29
                campaign_id:
                  type: string
                  format: uuid
                  example: a9c34499-8573-4ae5-b596-56aaf4d83b29
                  nullable: true
                sync:
                  type: integer
                  enum:
                  - 1
                  - 0
                  example: 0
                  nullable: true
                reason:
                  type: string
                  format: string
                  example: New Sign Up
                  nullable: true
                lines:
                  type: array
                  items:
                    properties:
                      email:
                        type: string
                        format: email
                        example: mail@gmail.com
                      first_name:
                        type: string
                        format: string
                        example: Joe
                        nullable: true
                      last_name:
                        type: string
                        format: string
                        example: Bloggs
                        nullable: true
                      reason:
                        type: string
                        format: string
                        example: New Sign Up
                        nullable: true
                    type: object
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/notifications:
    post:
      tags:
      - Greets
      summary: Mark greet as complete
      operationId: sendNotification
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: e885c1ff-0d2e-4b45-a4bb-ea8b09a30a19
      requestBody:
        content:
          application/json:
            schema:
              properties:
                via:
                  type: array
                  items:
                    type: string
                    enum:
                    - email
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Sent
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/rollup:
    post:
      tags:
      - Greets
      summary: Rollup and delete greets
      operationId: rollupGreets
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  example: no_name
                campaign_id:
                  type: integer
                  example: 5
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Complete
                  data:
                    properties:
                      count:
                        type: integer
                        example: 1
                    type: object
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/{profile_id}/update:
    post:
      tags:
      - Greets
      summary: Update a greet profile and event message
      operationId: updateGreetsProfile
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: profile_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/greetProfileUpdatePayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/updateGreetProfileResult'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/{profile_id}:
    delete:
      tags:
      - Greets
      summary: Delete a greet profile
      operationId: deleteGreetProfile
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: profile_id
        in: path
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/events:
    get:
      tags:
      - Greets
      summary: Get paginated greet events
      operationId: getGreetEvents
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: e885c1ff-0d2e-4b45-a4bb-ea8b09a30a19
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greets'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/profiles:
    get:
      tags:
      - Greets
      summary: Get paginated greet profiles
      operationId: getGreetProfiles
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: e885c1ff-0d2e-4b45-a4bb-ea8b09a30a19
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greetProfiles'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/results:
    get:
      tags:
      - Greets
      summary: Get paginated greet results
      operationId: getGreetResults
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          - uploaded_at
          - awaiting_reply
          - last_modified
          - last_replied_at
        example: created_at
      - name: assignee_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: profile_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: limit
        in: query
        schema:
          type: integer
        example: '10'
      - name: simple
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greetResults'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/results/stats:
    get:
      tags:
      - Greets
      summary: Get paginated lightweight greet results stats
      operationId: getGreetResultsStats
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          - uploaded_at
          - awaiting_reply
          - last_modified
          - last_replied_at
        example: created_at
      - name: assignee_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: profile_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: limit
        in: query
        schema:
          type: integer
        example: '10'
      - name: simple
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greetResultsStats'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/todo:
    get:
      tags:
      - Greets
      summary: Get paginated greet todos
      operationId: getGreetTodos
      parameters:
      - name: profile_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: assignee_id
        in: query
        schema:
          type: string
          format: uuid
        example: 7b9d182a-a687-472b-8212-2c817a7ae088
      - name: search
        in: query
        description: Search for profiles where email, firstname and lastname matches the search term
        schema:
          type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greets'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/upload-url:
    get:
      tags:
      - Greets
      summary: Get S3 upload url for a greet
      operationId: getGreetUploadUrl
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
        example: e885c1ff-0d2e-4b45-a4bb-ea8b09a30a19
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  method:
                    type: string
                    example: PUT
                  url:
                    type: string
                    format: ui
                    example: http://example-path-to-url
                  expires:
                    type: integer
                    format: unix-timestamp
                    example: 1610510383
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/greets/{greet_id}/uploads:
    post:
      tags:
      - Greets
      summary: Update greet metadata
      operationId: postGreetProfiles
      parameters:
      - name: greet_id
        in: path
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                thumbnail:
                  type: string
                  format: binary
                video:
                  description: DEPRECATED
                  type: string
                  format: binary
                message_template_id:
                  type: string
                  format: uuid
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/greetFull'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/industries:
    get:
      tags:
      - Industries
      summary: Get valid industries
      operationId: getIndustries
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  industries:
                    type: object
                    example:
                      property: value
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
  /api/v2/integrations:
    get:
      tags:
      - Integrations
      summary: Get paginated integrations
      operationId: getIntegrations
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/integration'
                  type: object
                - $ref: '#/components/schemas/pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/integrations/{integration_id}:
    get:
      tags:
      - Integrations
      summary: Get an integration
      operationId: getIntegration
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/integration'
                  type: object
                - $ref: '#/components/schemas/pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/invites:
    get:
      tags:
      - Invites
      summary: Get paginated team invites
      operationId: getInvites
      parameters:
      - name: team_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invites'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Invites
      summary: Add an invite
      operationId: postInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inviteAddPayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/invite'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/{invite_id}/resend:
    put:
      tags:
      - Invites
      summary: Resend an invite
      operationId: resendInvite
      parameters:
      - name: invite_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/invite'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/{invite_id}:
    delete:
      tags:
      - Invites
      summary: Delete an invite
      operationId: deleteInvite
      parameters:
      - name: invite_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/invite'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/links:
    get:
      tags:
      - Links
      summary: Get paginated message template links
      operationId: getLinks
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/links'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/links/{link_id}:
    get:
      tags:
      - Links
      summary: Get a message template link
      operationId: getLink
      parameters:
      - name: link_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/login/google:
    post:
      tags:
      - Login
      summary: Retrieve a token via google sign in
      operationId: loginViaGoogle
      parameters:
      - name: auth_code
        in: query
        description: Google auth code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googleLoginToken'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
  /api/v2/login/branch:
    post:
      tags:
      - Login
      summary: Retrieve a token via branch
      operationId: loginViaBranch
      parameters:
      - name: token
        in: query
        description: A user's id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchLoginToken'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
  /api/v2/media:
    get:
      tags:
      - Media
      summary: Get all paginated media
      operationId: getAllMedia
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allMedia'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Media
      summary: Add a media
      operationId: postMedia
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
                tags:
                  type: string
                  example: logo image
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/media/{media_id}:
    delete:
      tags:
      - Media
      summary: Delete a media
      operationId: deleteMedia
      parameters:
      - name: media_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/media'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/message-templates:
    get:
      tags:
      - Message Templates
      summary: Get paginated message templates
      operationId: getMessageTemplates
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageTemplates'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Message Templates
      summary: Add message template
      operationId: postMessageTemplates
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/messageTemplateMinimal'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/message-templates/{message_template_id}:
    get:
      tags:
      - Message Templates
      summary: Get message template
      operationId: getMessageTemplate
      parameters:
      - name: message_template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/messageTemplate'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Message Templates
      summary: Update message template
      operationId: putMessageTemplate
      parameters:
      - name: message_template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messageTemplateUpdatePayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/messageTemplate'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    delete:
      tags:
      - Message Templates
      summary: Delete message template
      operationId: deleteMessageTemplate
      parameters:
      - name: message_template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/messageTemplateMinimal'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/message-templates/demo/update:
    post:
      tags:
      - Message Templates
      summary: Update demo message template
      operationId: updateDemoTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messageTemplateDemoUpdatePayload'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Demo Updated
                  data:
                    $ref: '#/components/schemas/messageTemplateMinimal'
                type: object
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/notifications:
    get:
      tags:
      - Notifications
      summary: Get paginated notifications
      operationId: getNotifications
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notifications'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/notifications/{notification_id}/reads:
    post:
      tags:
      - Notifications
      summary: Mark notification as read
      operationId: postMarkRead
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  Message:
                    type: string
                    example: Ok
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/pricing:
    get:
      tags:
      - Pricing
      summary: Get all pricing details
      operationId: getPricing
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
  /api/v2/profiles:
    get:
      tags:
      - Profiles
      summary: Get paginated profiles
      operationId: getProfiles
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/profile'
                - $ref: '#/components/schemas/profileDemographic'
                - $ref: '#/components/schemas/timestamps'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Profiles
      summary: Add profile
      operationId: postProfile
      requestBody:
        content:
          application/json:
            schema:
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  example: Frank
                last_name:
                  type: string
                  example: Castle
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/profile'
                    - $ref: '#/components/schemas/profileDemographic'
                    - $ref: '#/components/schemas/timestamps'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    patch:
      tags:
      - Profiles
      summary: Bulk Update profiles
      operationId: patchProfile
      requestBody:
        content:
          application/json:
            schema:
              properties:
                profiles:
                  type: array
                  items:
                    $ref: '#/components/schemas/profileBulkUpdatePayload'
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/profile'
                - $ref: '#/components/schemas/profileDemographic'
                - $ref: '#/components/schemas/timestamps'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/profiles/{profile_id}:
    get:
      tags:
      - Profiles
      summary: Get profile
      operationId: getProfile
      parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/profile'
                - $ref: '#/components/schemas/profileDemographic'
                - $ref: '#/components/schemas/timestamps'
                - $ref: '#/components/schemas/greetProfileStats'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Profiles
      summary: Update profile
      operationId: putProfile
      parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  example: Frank
                last_name:
                  type: string
                  example: Castle
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/profile'
                - $ref: '#/components/schemas/profileDemographic'
                - $ref: '#/components/schemas/timestamps'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/recordings:
    get:
      tags:
      - Recordings
      summary: Get paginated recordings
      operationId: getRecordings
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recordings'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    put:
      tags:
      - Recordings
      summary: Update recording
      operationId: updateARecording
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                etags:
                  type: array
                  items:
                    type: string
                image:
                  type: string
                  format: binary
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: updated
                  data:
                    $ref: '#/components/schemas/recording'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/recordings/{recording_id}:
    get:
      tags:
      - Recordings
      summary: Get recording
      operationId: getRecording
      parameters:
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/recording'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    delete:
      tags:
      - Recordings
      summary: Delete recording
      operationId: deleteRecordings
      parameters:
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/recordings/{recording_id}/upload-url:
    get:
      tags:
      - Recordings
      summary: Get recording upload url
      operationId: getUploadURL
      parameters:
      - name: recording_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: part_number
        in: query
        required: true
        schema:
          type: integer
          format: number
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: ok
                  upload_url:
                    type: string
                    format: uri
                    example: http://example-path-to-upload-url
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/replies:
    get:
      tags:
      - Replies
      summary: Get paginated replies
      operationId: getReplies
      parameters:
      - name: greet_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: propfile_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/replies'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Replies
      summary: Add reply
      description: The greet should have a completed/sent status in order to add a reply
      operationId: postReply
      requestBody:
        content:
          application/json:
            schema:
              properties:
                greet_id:
                  type: string
                  format: uuid
                profile_id:
                  type: string
                  format: uuid
                content:
                  type: string
                  example: This is an example response
                author_id:
                  type: string
                  example: '1234'
                  nullable: true
                author_type:
                  type: string
                  enum:
                  - profile
                  - user
                  example: profile
                  nullable: true
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reply'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '403':
          description: 403 Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
      security:
      - OAuth: []
  /api/v2/results/{greet_id}/{profile_id}:
    get:
      tags:
      - Results
      summary: Get results for the specified greet and profile
      operationId: getResults
      parameters:
      - name: greet_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Results
      summary: Mark result as replied
      operationId: putResult
      parameters:
      - name: greet_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              properties:
                mark_as_replied:
                  type: boolean
                  enum:
                  - true
                  - false
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/result'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/results/{greet_id}/{profile_id}/stats:
    get:
      tags:
      - Results
      summary: Get lightweight results stats for the specified greet and profile
      operationId: getResultStats
      parameters:
      - name: greet_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultStats'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/signature-availabilities/{email_address}:
    get:
      tags:
      - Signature Avalabilities
      summary: Show the status for the given email address
      operationId: getSignatureAvalability
      parameters:
      - name: email_address
        in: path
        required: true
        schema:
          type: string
          format: email
      - name: transport_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - transport_google
          - transport_microsoft
          - transport_postmark
          - transport_sparkpost
          - postmark_domain
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                    - email_available
                    - email_not_available
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/signatures:
    get:
      tags:
      - Signatures
      summary: Get paginated sender signatures
      operationId: getSignatures
      parameters:
      - name: email
        in: query
        schema:
          type: string
          format: email
      - name: transport_type
        in: query
        description: Required if email parameter is supplied
        schema:
          type: string
          enum:
          - transport_google
          - transport_microsoft
          - transport_postmark
          - transport_sparkpost
          - postmark_domain
      - name: exclude_default
        in: query
        schema:
          type: integer
          enum:
          - 1
          - 0
      - name: includes
        in: query
        schema:
          type: string
          enum:
          - users.signatures
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signatures'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    post:
      tags:
      - Signatures
      summary: Add signature
      operationId: postSignature
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  example: Diana
                last_name:
                  type: string
                  example: Bishop
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/signature'
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/signatures/{signature_id}:
    delete:
      tags:
      - Signatures
      summary: Delete signature
      operationId: deleteSignature
      parameters:
      - name: signature_id
        in: query
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                from:
                  description: An object containing a userid and a signature id
                  type: object
                  example:
                    03180f5e-382e-4f72-a546-27be5db1683f: '514'
                replyto:
                  description: An object containing a userid and a signature id
                  type: object
                  example:
                    03180f5e-382e-4f72-a546-27be5db1683f: '514'
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Email deleted
                  data:
                    $ref: '#/components/schemas/signature'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/signatures/{signature_id}/verify:
    post:
      tags:
      - Signatures
      summary: Verify signature
      operationId: verifySignature
      parameters:
      - name: signature_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Please check your inbox for the verification email
                  data:
                    $ref: '#/components/schemas/signature'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/stats:
    get:
      tags:
      - Stats
      summary: Get paginated stats
      operationId: getStats
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statistics'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/stats/{user_id}:
    get:
      tags:
      - Stats
      summary: Get user stats
      operationId: getStat
      parameters:
      - name: user_id
        in: path
        description: A user id that is in the same team
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statisticGreetForUser'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/stats/team:
    get:
      tags:
      - Stats
      summary: Get team stats
      operationId: getTeamStam
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/statisticTeam'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/stock-media:
    get:
      tags:
      - Stock Media
      summary: Get paginated stock media
      operationId: getStockMedia
      parameters:
      - name: tags
        in: query
        schema:
          type: string
      - name: limit
        in: query
        required: true
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stockMedia'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/tasklist:
    get:
      tags:
      - Task List
      summary: Get tasklist counts
      operationId: getAttributes
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tasklistResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/teams:
    get:
      tags:
      - Teams
      summary: Get paginated teams
      operationId: getTeams
      parameters:
      - name: includes
        in: query
        schema:
          type: string
          enum:
          - signatures
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/teams/{team_id}:
    get:
      tags:
      - Teams
      summary: Get a team
      operationId: getTeam
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    put:
      tags:
      - Teams
      summary: Update a team landing page subdomain
      operationId: putTeam
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              properties:
                landing_page_subdomain:
                  type: string
                  example: example-subdomain
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/team'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/teams/{team_id}/links/{link_id}:
    get:
      tags:
      - Teams
      summary: Get a team
      operationId: getTeamLinks
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: link_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/transmisions:
    get:
      tags:
      - Transmissions
      summary: Get transmitted greet data
      operationId: getTransmissions
      parameters:
      - name: recipient_id
        in: query
        description: The profile id of the receipient for the provided context_id
        required: true
        schema:
          type: string
          format: uuid
      - name: context_id
        in: query
        description: A valid greet id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transmission'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/users:
    get:
      tags:
      - Users
      summary: Get paginated users in the same team
      operationId: getUsers
      parameters:
      - name: includes
        in: query
        required: false
        schema:
          type: string
          enum:
          - signatures
      - name: limit
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    post:
      tags:
      - Users
      summary: Add a user
      operationId: addUser
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  example: eX@mP13p@$$w0rD
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    $ref: '#/components/schemas/user'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
  /api/v2/users/{user_id}:
    get:
      tags:
      - Users
      summary: Get a user
      operationId: getUser
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
    post:
      tags:
      - Users
      summary: Update a user bio
      operationId: updateUserBio
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bio:
                  type: string
                  example: Example bio
              type: object
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Updated
                  data:
                    $ref: '#/components/schemas/user'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/users/{user_id}/campaigns:
    get:
      tags:
      - Users
      summary: Get campaigns for a user
      operationId: getUserCampaigns
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaigns'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
[...]
