openapi: 3.2.0
info:
  title: Bonjoro API V2 Automation Accounts API
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
tags:
- name: Automation Accounts
paths:
  /api/v2/automation/accounts:
    get:
      tags:
      - Automation Accounts
      summary: Get paginated automation accounts
      operationId: getAutomationAccounts
      parameters:
      - name: service
        in: query
        required: true
        schema:
          type: string
          enum:
          - active_campaign
          - bonjoro
          - convertkit
          - drip
          - hubspot_crm
          - infusionsoft
          - intercom
          - mailchimp
          - mailerlite
          - ontraport
          - patreon-v2
          - shopify
          - slack
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automationAccounts'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automation/accounts/{account_id}:
    get:
      tags:
      - Automation Accounts
      summary: Get an automation account
      operationId: getAutomationAccount
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automationAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
    delete:
      tags:
      - Automation Accounts
      summary: Delete an automation account
      operationId: deleteAutomationAccount
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deleted
                  data:
                    $ref: '#/components/schemas/automationAccount'
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
  /api/v2/automation/accounts/{account_id}/test:
    get:
      tags:
      - Automation Accounts
      summary: Test an automation account
      operationId: testAutomationAccount
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Ok
                  data:
                    type: object
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
components:
  schemas:
    automationAccount:
      allOf:
      - properties:
          name:
            type: string
            example: Slack Account
          service:
            type: string
            example: slack
          created_at:
            type: string
            format: uri
            example: '2021-01-20 02:38:50'
        type: object
      - $ref: '#/components/schemas/idUUID'
    pagination:
      properties:
        current_page:
          type: integer
          example: 1
        first_page_url:
          type: string
        last_page_url:
          type: string
        path:
          type: string
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 2
        next_page_url:
          type: string
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: integer
      type: object
    idUUID:
      properties:
        id:
          type: string
          format: uuid
          example: a5e7c858-1f85-4fe2-8c1d-4c77cfc3204f
      type: object
    notFound:
      properties:
        error:
          properties:
            message:
              type: string
              example: Not Found
            status_code:
              type: integer
              example: 404
          type: object
      type: object
    unauthorized:
      properties:
        message:
          type: string
          example: Unauthorized.
      type: object
    automationAccounts:
      allOf:
      - properties:
          data:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/automationAccount'
        type: object
      - $ref: '#/components/schemas/pagination'
