openapi: 3.2.0
info:
  title: Bonjoro API V2 Signature Avalabilities API
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
tags:
- name: Signature Avalabilities
paths:
  /api/v2/signature-availabilities/{email_address}:
    get:
      tags:
      - Signature Avalabilities
      summary: Show the status for the given email address
      operationId: getSignatureAvalability
      parameters:
      - name: email_address
        in: path
        required: true
        schema:
          type: string
          format: email
      - name: transport_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - transport_google
          - transport_microsoft
          - transport_postmark
          - transport_sparkpost
          - postmark_domain
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                    - email_available
                    - email_not_available
                type: object
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
components:
  schemas:
    notFound:
      properties:
        error:
          properties:
            message:
              type: string
              example: Not Found
            status_code:
              type: integer
              example: 404
          type: object
      type: object
    unauthorized:
      properties:
        message:
          type: string
          example: Unauthorized.
      type: object
    badRequest:
      properties:
        error:
          properties:
            message:
              type: string
              example: Error message
            status_code:
              type: integer
              example: 400
          type: object
      type: object
