openapi: 3.2.0
info:
  title: Bonjoro API V2 Notifications API
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
tags:
- name: Notifications
paths:
  /api/v2/notifications:
    get:
      tags:
      - Notifications
      summary: Get paginated notifications
      operationId: getNotifications
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notifications'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/notifications/{notification_id}/reads:
    post:
      tags:
      - Notifications
      summary: Mark notification as read
      operationId: postMarkRead
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  Message:
                    type: string
                    example: Ok
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFound'
      security:
      - OAuth: []
components:
  schemas:
    notification:
      allOf:
      - properties:
          title:
            type: string
            example: A bonjoro you sent has bounced
          action_text:
            type: string
            example: user.greet.bounced
          created_at:
            type: string
            format: datetime
            example: '2021-01-17 03:28:05'
          action_url:
            type: string
            format: uri
            example: http://example-path-to-action-url
          self_url:
            type: string
            format: uri
            example: http://example-path-to-self-url
        type: object
      - $ref: '#/components/schemas/idUUID'
    pagination:
      properties:
        current_page:
          type: integer
          example: 1
        first_page_url:
          type: string
        last_page_url:
          type: string
        path:
          type: string
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 2
        next_page_url:
          type: string
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: integer
      type: object
    notifications:
      allOf:
      - properties:
          data:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/notification'
        type: object
      - $ref: '#/components/schemas/pagination'
    idUUID:
      properties:
        id:
          type: string
          format: uuid
          example: a5e7c858-1f85-4fe2-8c1d-4c77cfc3204f
      type: object
    notFound:
      properties:
        error:
          properties:
            message:
              type: string
              example: Not Found
            status_code:
              type: integer
              example: 404
          type: object
      type: object
    unauthorized:
      properties:
        message:
          type: string
          example: Unauthorized.
      type: object
