openapi: 3.2.0
info:
  title: Bonjoro API V2 Checklist API
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
tags:
- name: Checklist
paths:
  /api/v2/checklist:
    get:
      tags:
      - Checklist
      summary: Get paginated checklists
      operationId: getChecklist
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checklists'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
components:
  schemas:
    pagination:
      properties:
        current_page:
          type: integer
          example: 1
        first_page_url:
          type: string
        last_page_url:
          type: string
        path:
          type: string
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 2
        next_page_url:
          type: string
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: integer
      type: object
    checklist:
      properties:
        title:
          type: string
          example: Create a message template
        hoverText:
          type: string
          example: Customise your video emails and landing pages with your own subject line, messaging, branding, and call-to-actions.
        isChecked:
          type: string
          example: false
        url:
          type: string
          example: http://domain.com/path-to-url
      type: object
    unauthorized:
      properties:
        message:
          type: string
          example: Unauthorized.
      type: object
    checklists:
      allOf:
      - properties:
          data:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/checklist'
        type: object
      - $ref: '#/components/schemas/pagination'
