openapi: 3.2.0
info:
  title: Bonjoro API V2 Automation Services API
  description: Bonjoro API definitions
  version: 1.0.0
servers:
- url: https://www.bonjoro.com/
tags:
- name: Automation Services
paths:
  /api/v2/automation/services:
    get:
      tags:
      - Automation Services
      summary: Get all automation services
      operationId: getAutomationServices
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/editorAutomationServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automation/services/{service_id}:
    get:
      tags:
      - Automation Services
      summary: Get an automation service
      operationId: getAutomationService
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/editorAutomationService'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automation/services/{service_id}/contacts:
    get:
      tags:
      - Automation Services
      summary: Get an automation service's contacts
      operationId: getAutomationSericeContacts
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
      - name: account_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/automationServicesContacts'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
  /api/v2/automation/services/{service_id}/contacts/parameters:
    post:
      tags:
      - Automation Services
      summary: Create a new automation assigned to the specified account_id
      operationId: getAutomationSericeContactParameters
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
      - name: account_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  parameters:
                    type: object
                    example:
                      list_id:
                        required: true
                        placeholder: Select a mailing list...
                        type: dropdown
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
      security:
      - OAuth: []
components:
  schemas:
    profile:
      allOf:
      - properties:
          email:
            type: string
            format: email
            example: mail@mail.com
          name:
            type: string
            example: Michael Burnham
          first_name:
            type:
            - string
            - 'null'
            example: Michael
          last_name:
            type:
            - string
            - 'null'
            example: Burnham
          image:
            type: string
            format: uri
            example: http://example-path-to-image.jpg
          work:
            properties:
              current:
                type:
                - string
                - 'null'
              title:
                type:
                - string
                - 'null'
            type: object
          self_url:
            type: string
            format: uri
            example: http://example-path-to-self-url
          attributes_url:
            type: string
            format: uri
            example: http://example-path-to-attributes-url
          events_url:
            type: string
            format: uri
            example: http://example-path-to-events-url
          unsubscribed:
            type: boolean
        type: object
      - $ref: '#/components/schemas/idUUID'
    editorAutomationServices:
      type: array
      items:
        $ref: '#/components/schemas/automationService'
    automationServiceDefaultTrigger:
      properties:
        id:
          type: string
          example: subscriber_created
        name:
          type: string
          example: Person created
        description:
          type: string
          example: Example description
        greetable_reason:
          type: string
          example: Example greetable reason
        parameters:
          type: object
          example:
            form_id:
              required: true
              type: dropdown
              name: Form
              description: Your chosen form
      type: object
    automationService:
      properties:
        id:
          type: string
          example: active_campaign
        name:
          type: string
          example: ActiveCampaign
        description:
          type: string
          example: Example description
        logo_url:
          type: string
          format: uri
          example: /example-path-to-logo.png
        actions:
          type: boolean
          enum:
          - true
          - false
        triggers:
          type: boolean
          enum:
          - true
          - false
        self_url:
          type: string
          format: uri
          example: http://example-path-to-self-url
        auth_url:
          type: string
          format: uri
          example: http://example-path-to-auth-url
        disabled:
          type: boolean
          enum:
          - true
          - false
        default_trigger:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/automationServiceDefaultTrigger'
        capability:
          properties:
            primary_collection:
              type: boolean
              enum:
              - true
              - false
            external_profiles:
              type: boolean
              enum:
              - true
              - false
            creates_greets:
              type: boolean
              enum:
              - true
              - false
          type: object
        hidden:
          type: boolean
          enum:
          - true
          - false
      type: object
    timestamps:
      properties:
        created_at:
          type: string
          format: datetime
          example: '2021-01-11 01:51:26'
        updated_at:
          type:
          - string
          - 'null'
          format: datetime
          example: '2021-01-11 01:51:26'
      type: object
    pagination:
      properties:
        current_page:
          type: integer
          example: 1
        first_page_url:
          type: string
        last_page_url:
          type: string
        path:
          type: string
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 2
        next_page_url:
          type: string
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: integer
      type: object
    idUUID:
      properties:
        id:
          type: string
          format: uuid
          example: a5e7c858-1f85-4fe2-8c1d-4c77cfc3204f
      type: object
    automationServicesContacts:
      allOf:
      - properties:
          data:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/profile'
              - $ref: '#/components/schemas/profileDemographic'
              - $ref: '#/components/schemas/timestamps'
        type: object
      - $ref: '#/components/schemas/pagination'
    editorAutomationService:
      properties:
        id:
          type: string
          example: bonjoro
        name:
          type: string
          example: Bonjoro
        description:
          type: string
          example: Example description
        logo_url:
          type: string
          format: uri
          example: /example-path-to-logo.png
        actions:
          type: boolean
          enum:
          - true
          - false
        triggers:
          type: boolean
          enum:
          - true
          - false
        self_url:
          type: string
          format: uri
          example: http://example-path-to-self-url
        auth_url:
          type: string
          format: uri
          example: http://example-path-to-auth-url
        disabled:
          type: boolean
          enum:
          - true
          - false
        default_trigger:
          type: array
          items:
            allOf:
            - properties:
                id:
                  type: string
                  example: contact_updated
                name:
                  type: string
                  example: Contact Updated
                description:
                  type: string
                  example: Example description
              type: object
        capability:
          properties:
            primary_collection:
              type: boolean
              enum:
              - true
              - false
            external_profiles:
              type: boolean
              enum:
              - true
              - false
            creates_greets:
              type: boolean
              enum:
              - true
              - false
          type: object
        hidden:
          type: boolean
          enum:
          - true
          - false
        actions_url:
          type: string
          format: uri
          example: http://example-path-to-action-url
      type: object
    unauthorized:
      properties:
        message:
          type: string
          example: Unauthorized.
      type: object
    profileDemographic:
      properties:
        demographic:
          properties:
            location:
              type:
              - string
              - 'null'
            country:
              type:
              - string
              - 'null'
            age:
              type:
              - string
              - 'null'
            sex:
              type:
              - string
              - 'null'
          type: object
      type: object
